<html>
    <head>
        <title>Django Girls blog by Coco</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog by Coco</a></h1>
        </div>
{% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaks }}</p>
        </div>
{% endfor %}
        <div>
            <p>published: 13.11.2015 </p>
            <h2><a href="">Break time..</a></h2>
            <p>take a break to clear your mind and get ready for the next classes of magic..</p>
			<ul><li>chat to your collegue</li><li>browse facebook feeds..</li><li>take a deep breath</li></ul>
		
			<em>You are getting there ;)</em> 


		
        </div>
    </body>
</html>