<html>
    <head>
        <title>Django Girls blog by Coco</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog by Coco</a></h1>
        </div>

        <div>
            <p>published: 13.11.2015</p>
            <h2><a href="">Get a coffee first...</a></h2>
			
			<strong>it looks like you need it</strong>
	
            <p>First steps are always hard but your efford will be rewarded</p>
        </div>

        <div>
            <p>published: 13.11.2015 </p>
            <h2><a href="">Break time..</a></h2>
            <p>take a break to clear your mind and get ready for the next classes of magic..</p>
			<ul><li>chat to your collegue</li><li>browse facebook feeds..</li><li>take a deep breath</li></ul>
		
			<em>You are getting there ;)</em> 


		
        </div>
    </body>
</html>